*{
    box-sizing: border-box;
}
.container{
    padding: 80px 120px;
}
#thumbnail1:hover{
border-color:black;
text-decoration: none;
opacity: 0.5;
}
#thumbnail2:hover{
    border-color:black;
    text-decoration: none;
    opacity: 0.5;
    }
#thumbnail3:hover{
    border-color:black;
    text-decoration: none;
    opacity: 0.5;
    }
.carousel-inner img {
    
    
    margin: auto;
  }
  
  .carousel-caption h3 {
    color:black;
  }
  
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }
  .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }
  .modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-header, .modal-body {
    padding: 40px 50px;
  }
  #Heading{
    margin-left: 245px;

  }
  #myNavbar>ul>li:hover{
    background-color: #000;
   

  }
  #myNavbar>ul>li>a:hover{
    color: white;
  }
  .jumbotron{
    background-color: #000;
    color: white;
    opacity: 0.5;
  }
  #jumbotron:hover{
    background-color :red;
  }
  #Heading{
    background-color: red;
    margin-right: 150px;

  }
  #Heading:hover{
    color: #000;
  }